nav.navbar.sticky-bottom.navbar-expand-sm.navbar-custom
	ul.navbar-nav.nav-fill.w-100
		li.nav-item
			a.navbar(href='/store')
				img(class='img-fluid' src='/icons/yarn.png')
		li.nav-item
			a.navbar(href='#')
				img(class='img-fluid' src='/icons/yarn.png')
		li.nav-item
			a.navbar(href='#')
				img(class='img-fluid' src='/icons/yarn.png')
		li.nav-item
			a.navbar(href='#')
				img(class='img-fluid' src='/icons/yarn.png')
		li.nav-item
			a.navbar(href='#')
				img(class='img-fluid' src='/icons/yarn.png')
