//layout.pug
doctype html
html

	head
		title= `${title}`
		include styles
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')


	body
		
		div.flex-container
		
			block content
			
		include bottomBar
	
		include scripts
		
