extends layout

block content


	.break
	
	.subscriptionInfo
		h1 Subscriptions
		p.lead
			| Information about the site and why you should get a subscription
		p
			| Occaecati pariatur est provident debitis. Voluptatem reiciendis corrupti facere voluptatem occaecati. Est unde unde repudiandae soluta odit. Odio quia vel enim. Iste porro odit ut.

	.break

	.card.subscriptionCard
		.card-header
			h4.my-0.font-weight-normal Free
		.card-body
			h1.card-title.pricing-card-title
				| £0 
				small.text-muted / mo
			ul.list-unstyled.mt-3.mb-4
				li access to social functions
			button.btn.btn-lg.btn-block.btn-outline-primary(type='button' href='/store') Sign up for free
					
	.card.subscriptionCard
		.card-header
			h4.my-0.font-weight-normal Not So Free
		.card-body
			h1.card-title.pricing-card-title
				| £5
				small.text-muted / mo
			ul.list-unstyled.mt-3.mb-4
				li 10 free patterns a month
				li access to tutorial materials
			button.btn.btn-lg.btn-block.btn-outline-primary(type='button') Sign up
			
	.card.subscriptionCard
		.card-header
			h4.my-0.font-weight-normal Premium
		.card-body
			h1.card-title.pricing-card-title
				| £10 
				small.text-muted / mo
			ul.list-unstyled.mt-3.mb-4
				li 20 Free patterns a month
				br
				li access to tutorial materials
				br
				li upload and sell your patterns
				br
				li email support available
				br
				li 24hr technical support
				br
				li eat the rich
				br
				li value for money
			button.btn.btn-lg.btn-block.btn-outline-primary(type='button') Sign up
