extends layout

block content

		.card-deck.mb-3.text-center
		
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star-half-alt
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
						
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							//star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							//half star
							span.fas.fa-star-half-alt
							//empty star
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
			
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star-half-alt
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
			
		.card-deck.mb-3.text-center
		
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star-half-alt
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
						
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							//star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							//half star
							span.fas.fa-star-half-alt
							//empty star
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
			
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star-half-alt
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
						
		.card-deck.mb-3.text-center
		
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star-half-alt
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
						
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							//star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							//half star
							span.fas.fa-star-half-alt
							//empty star
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
			
			.card.mb-4.shadow.sm
					img.card-img-top(src='/icons/knitting.jpg' alt='Card image' height='300px')
					.card-body
						h4 Item Name
						.rating
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star
							span.fas.fa-star-half-alt
							span.far.fa-star
						a.btn.btn-primary.stretched-link(href='/signUp') Buy Item
						
		
						
		
