.navbar-custom {
    background-color: #fc1d70;
}

.sticky-bottom {
  position: sticky !important;
  bottom:0;
}


/* store page css */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  row-gap: 2rem;

}
 
.flex-container div {
        text-align: center;   
        flex: 0 0 30%;  
        }
        
.break {
	flex-basis: 100%;
	height: 0;
}


/* Subscription page css */

.subscriptionInfo {
	flex: 0 0 100%;
}

.subscriptionCard {
	flex: 1 0 30%; 
}
	
/* navigation bar css */

.navbar-custom {
    background-color: #fc1d70;
}

.sticky-bottom {
  position: sticky !important;
  bottom:0;
}
